In [21]:
print("hey")

hey

In [22]:
import pandas as pd

def extract_data_from_google_sheet(SHEET_ID: str):
    URL = f"https://docs.google.com/spreadsheets/d/{SHEET_ID}/export?format=csv"

    df = pd.read_csv(URL)
    return df

In [23]:
df = extract_data_from_google_sheet("1ACKIijJyml3U6KUkCFMJ8hvRxX-sUHSv-Be9Cz38qbg")

In [24]:
df.head()

,SC #,Segment Name,Segment Folder,Logic Type,Filter 1 Type,Filter 1 Rule,Filter 1 Values,Connector 1,Filter 2 Type,Filter 2 Rule,...,Connector 2,OR Filter 1 Type,OR Filter 1 Rule,OR Filter 1 Values,OR Filter 2 Type,OR Filter 2 Rule,OR Filter 2 Values,Uses Engagement,Uses Date Rule,Notes
0,39,Added 30 days never opened,Segments,AND,Creation date,In the last,1 month,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,Yes,NaN,NaN,NaN
1,50,Sent atleast 20 emails,Segments,AND,Email sent,at least,20 times in the last 3 months,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN
2,52,Not in YFS List,Segments,AND,Member of a list,Not a member of,YFS (ALL USERS) #2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,No,NaN,NaN,NaN
3,71,Opened more than 5 but not opened last week,Segments,AND,Email opened,at least,5 times in the last 2 months,AND,Email not opened,In the last,...,NaN,NaN,NaN,NaN,Yes,Yes,Apple MPP Opens excluded,NaN,NaN,NaN
4,89,Opened but never clicked,Segments,AND,Email opened,more than,5 times in the last 6 months,AND,Link not clicked in an email,In the last,...,NaN,NaN,NaN,Yes,Yes,Apple MPP Opens excluded,NaN,NaN,NaN,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SC #                50 non-null     int64
 1   Segment Name        50 non-null     object
 2   Segment Folder      50 non-null     object
 3   Logic Type          50 non-null     object
 4   Filter 1 Type       50 non-null     object
 5   Filter 1 Rule       50 non-null     object
 6   Filter 1 Values     40 non-null     object
 7   Connector 1         40 non-null     object
 8   Filter 2 Type       40 non-null     object
 9   Filter 2 Rule       40 non-null     object
 10  Filter 2 Values     36 non-null     object
 11  Connector 2         9 non-null      object
 12  OR Filter 1 Type    9 non-null      object
 13  OR Filter 1 Rule    9 non-null      object
 14  OR Filter 1 Values  15 non-null     object
 15  OR Filter 2 Type    40 non-null     object
 16  OR Filter 2 Rule    46 non-null     object
 17  OR Filter 2 Values  13 non-null     object
 18  Uses Engagement     7 non-null      object
 19  Uses Date Rule      3 non-null      object
 20  Notes               1 non-null      object
dtypes: int64(1), object(20)
memory usage: 8.3+ KB

In [26]:
df.head()

,SC #,Segment Name,Segment Folder,Logic Type,Filter 1 Type,Filter 1 Rule,Filter 1 Values,Connector 1,Filter 2 Type,Filter 2 Rule,...,Connector 2,OR Filter 1 Type,OR Filter 1 Rule,OR Filter 1 Values,OR Filter 2 Type,OR Filter 2 Rule,OR Filter 2 Values,Uses Engagement,Uses Date Rule,Notes
0,39,Added 30 days never opened,Segments,AND,Creation date,In the last,1 month,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,Yes,NaN,NaN,NaN
1,50,Sent atleast 20 emails,Segments,AND,Email sent,at least,20 times in the last 3 months,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Yes,Yes,NaN,NaN,NaN
2,52,Not in YFS List,Segments,AND,Member of a list,Not a member of,YFS (ALL USERS) #2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,No,NaN,NaN,NaN
3,71,Opened more than 5 but not opened last week,Segments,AND,Email opened,at least,5 times in the last 2 months,AND,Email not opened,In the last,...,NaN,NaN,NaN,NaN,Yes,Yes,Apple MPP Opens excluded,NaN,NaN,NaN
4,89,Opened but never clicked,Segments,AND,Email opened,more than,5 times in the last 6 months,AND,Link not clicked in an email,In the last,...,NaN,NaN,NaN,Yes,Yes,Apple MPP Opens excluded,NaN,NaN,NaN,NaN

In [27]:

df[['SC #']].head(10)

   SC #
0    39
1    50
2    52
3    71
4    89
5    92
6    94
7    97
8    98
9   100

In [28]:
# Ensure the column is integer type
df['SC #'] = df['SC #'].astype('Int64')  # nullable integer type in pandas

In [29]:
df.rename(columns={
    'SC #': 'Segment ID',
}, inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Segment ID          50 non-null     Int64
 1   Segment Name        50 non-null     object
 2   Segment Folder      50 non-null     object
 3   Logic Type          50 non-null     object
 4   Filter 1 Type       50 non-null     object
 5   Filter 1 Rule       50 non-null     object
 6   Filter 1 Values     40 non-null     object
 7   Connector 1         40 non-null     object
 8   Filter 2 Type       40 non-null     object
 9   Filter 2 Rule       40 non-null     object
 10  Filter 2 Values     36 non-null     object
 11  Connector 2         9 non-null      object
 12  OR Filter 1 Type    9 non-null      object
 13  OR Filter 1 Rule    9 non-null      object
 14  OR Filter 1 Values  15 non-null     object
 15  OR Filter 2 Type    40 non-null     object
 16  OR Filter 2 Rule    46 non-null     object
 17  OR Filter 2 Values  13 non-null     object
 18  Uses Engagement     7 non-null      object
 19  Uses Date Rule      3 non-null      object
 20  Notes               1 non-null      object
dtypes: Int64(1), object(20)
memory usage: 8.4+ KB

In [31]:
df[['Segment Name']].head(10)

                                  Segment Name
0                   Added 30 days never opened
1                       Sent atleast 20 emails
2                              Not in YFS List
3  Opened more than 5 but not opened last week
4                     Opened but never clicked
5                              Gaming Interest
6                         DO NOT SEND GAMBLING
7                     Recent Registration + 1M
8                 opened 5+ never clicked p...
9                  Opened past month & clicked

In [32]:
df['Segment Name'] = df['Segment Name'].str.strip()
df['Segment Name'] = df['Segment Name'].str.replace(r'\s+', ' ', regex=True)
import re

df['Segment Name'] = df['Segment Name'].apply(lambda x: re.sub(r'[^\w\s\+\-&]', '', x))

In [34]:
print(df['Segment Name'].isna().sum())

0

In [35]:
df.columns = df.columns.str.strip()  # Remove leading/trailing whitespace from column names

In [36]:
df.columns

Index(['Segment ID', 'Segment Name', 'Segment Folder', 'Logic Type',
       'Filter 1 Type', 'Filter 1 Rule', 'Filter 1 Values', 'Connector 1',
       'Filter 2 Type', 'Filter 2 Rule', 'Filter 2 Values', 'Connector 2',
       'OR Filter 1 Type', 'OR Filter 1 Rule', 'OR Filter 1 Values',
       'OR Filter 2 Type', 'OR Filter 2 Rule', 'OR Filter 2 Values',
       'Uses Engagement', 'Uses Date Rule', 'Notes'],
      dtype='object')

In [39]:


df[['Segment Folder']].head(10)

  Segment Folder
0       Segments
1       Segments
2       Segments
3       Segments
4       Segments
5       Segments
6       Segments
7       Segments
8       Segments
9       Segments

In [40]:
# Fill missing values with a default, e.g., "Uncategorized"
df['Segment Folder'] = df['Segment Folder'].fillna('Uncategorized')

In [41]:
df['Segment Folder'] = df['Segment Folder'].str.strip()

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Segment ID          50 non-null     Int64
 1   Segment Name        50 non-null     object
 2   Segment Folder      50 non-null     object
 3   Logic Type          50 non-null     object
 4   Filter 1 Type       50 non-null     object
 5   Filter 1 Rule       50 non-null     object
 6   Filter 1 Values     40 non-null     object
 7   Connector 1         40 non-null     object
 8   Filter 2 Type       40 non-null     object
 9   Filter 2 Rule       40 non-null     object
 10  Filter 2 Values     36 non-null     object
 11  Connector 2         9 non-null      object
 12  OR Filter 1 Type    9 non-null      object
 13  OR Filter 1 Rule    9 non-null      object
 14  OR Filter 1 Values  15 non-null     object
 15  OR Filter 2 Type    40 non-null     object
 16  OR Filter 2 Rule    46 non-null     object
 17  OR Filter 2 Values  13 non-null     object
 18  Uses Engagement     7 non-null      object
 19  Uses Date Rule      3 non-null      object
 20  Notes               1 non-null      object
dtypes: Int64(1), object(20)
memory usage: 8.4+ KB

In [43]:

df[['Logic Type']].head(10)

  Logic Type
0        AND
1        AND
2        AND
3        AND
4        AND
5   AND + OR
6        AND
7   AND + OR
8        AND
9        AND

In [44]:
df['Logic Type'] = df['Logic Type'].str.strip().str.upper()

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Segment ID          50 non-null     Int64
 1   Segment Name        50 non-null     object
 2   Segment Folder      50 non-null     object
 3   Logic Type          50 non-null     object
 4   Filter 1 Type       50 non-null     object
 5   Filter 1 Rule       50 non-null     object
 6   Filter 1 Values     50 non-null     object
 7   Connector 1         50 non-null     object
 8   Filter 2 Type       50 non-null     object
 9   Filter 2 Rule       50 non-null     object
 10  Filter 2 Values     50 non-null     object
 11  Connector 2         50 non-null     object
 12  OR Filter 1 Type    50 non-null     object
 13  OR Filter 1 Rule    50 non-null     object
 14  OR Filter 1 Values  50 non-null     object
 15  OR Filter 2 Type    50 non-null     object
 16  OR Filter 2 Rule    50 non-null     object
 17  OR Filter 2 Values  50 non-null     object
 18  Uses Engagement     50 non-null     bool
 19  Uses Date Rule      50 non-null     bool
 20  Notes               50 non-null     object
dtypes: Int64(1), bool(2), object(18)
memory usage: 7.7+ KB

In [117]:
df[['Notes']].head(10)

                                               Notes
0
1
2
3
4
5  Apple MPP Opens excluded; webpage URL contains...
6
7
8
9

In [115]:
df['Notes'] = df['Notes'].fillna('')

In [116]:
df['Notes'] = df['Notes'].str.strip()

In [120]:
df.to_csv('../data/1st_cleaned_segments.csv', index=False)