In [1]:
print("hey")

hey

In [60]:
import pandas as pd

def extract_data_from_google_sheet(SHEET_ID: str):
    URL = f"https://docs.google.com/spreadsheets/d/{SHEET_ID}/export?format=csv"

    df = pd.read_csv(URL)
    return df

In [61]:
df = extract_data_from_google_sheet("10DFvWR0dw5aFQ0F0QTjQGS5LeFfNgxC72SXc_zInKhE")

In [62]:
df.head()

,"From Date;""To Date""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,01-09-2025;01-01-2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Campaign ID,Campaign Name,Column 30,Column 29,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Clicked,Click rate,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate
3,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,96 - recent registration & 3 month clickers\n1...,163 - Has FLUENT ID\n98 - opened 5 + never cli...,£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,654,2.23%,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%
4,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,146 - Clicked adstart iphone\n98 - opened 5+ n...,iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,681,2.82%,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   From Date;"To Date"  354 non-null    object
 1   Unnamed: 1           353 non-null    object
 2   Unnamed: 2           353 non-null    object
 3   Unnamed: 3           332 non-null    object
 4   Unnamed: 4           353 non-null    object
 5   Unnamed: 5           994 non-null    object
 6   Unnamed: 6           124 non-null    object
 7   Unnamed: 7           353 non-null    object
 8   Unnamed: 8           353 non-null    object
 9   Unnamed: 9           353 non-null    object
 10  Unnamed: 10          353 non-null    object
 11  Unnamed: 11          353 non-null    object
 12  Unnamed: 12          353 non-null    object
 13  Unnamed: 13          353 non-null    object
 14  Unnamed: 14          353 non-null    object
 15  Unnamed: 15          353 non-null    object
 16  Unnamed: 16          353 non-null    object
 17  Unnamed: 17          353 non-null    object
 18  Unnamed: 18          353 non-null    object
 19  Unnamed: 19          353 non-null    object
 20  Unnamed: 20          353 non-null    object
 21  Unnamed: 21          353 non-null    object
 22  Unnamed: 22          353 non-null    object
 23  Unnamed: 23          353 non-null    object
 24  Unnamed: 24          353 non-null    object
 25  Unnamed: 25          353 non-null    object
 26  Unnamed: 26          353 non-null    object
 27  Unnamed: 27          353 non-null    object
 28  Unnamed: 28          353 non-null    object
dtypes: object(29)
memory usage: 225.8+ KB

In [64]:
df.columns = df.iloc[2]

df = df.iloc[3:].reset_index(drop=True)

df.head()

2,Campaign ID,Campaign Name,Column 30,Column 29,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Clicked,Click rate,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,96 - recent registration & 3 month clickers\n1...,163 - Has FLUENT ID\n98 - opened 5 + never cli...,£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,654,2.23%,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,146 - Clicked adstart iphone\n98 - opened 5+ n...,iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,681,2.82%,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94, 183",Your Freebie Style,02-09-2025,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,241,1.42%,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98, 177",£100 Tesco via Your Freebie Style,02-09-2025,NaN,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,855,3.41%,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,94 - DO NOT SEND GAMBING\n171 - visited Gaming...,Welcome Bonus via Your Freebie Style,03-09-2025,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,307,1.74%,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Campaign ID          352 non-null    object
 1   Campaign Name        352 non-null    object
 2   Column 30            352 non-null    object
 3   Column 29            331 non-null    object
 4   Name from            352 non-null    object
 5   Sending date         993 non-null    object
 6   Daily revenue        123 non-null    object
 7   Subject              352 non-null    object
 8   Sent                 352 non-null    object
 9   Non delivered        352 non-null    object
 10  Hard bounces         352 non-null    object
 11  Soft bounces         352 non-null    object
 12  Non delivered rate   352 non-null    object
 13  Delivered            352 non-null    object
 14  Total opens          352 non-null    object
 15  Opens                352 non-null    object
 16  Trackable open rate  352 non-null    object
 17  Apple MPP Opens      352 non-null    object
 18  Total clicked        352 non-null    object
 19  Clicked              352 non-null    object
 20  Click rate           352 non-null    object
 21  Click-to-Open rate   352 non-null    object
 22  Unsubscribed         352 non-null    object
 23  Unsubscription rate  352 non-null    object
 24  Delivered rate       352 non-null    object
 25  Hard Bounces rate    352 non-null    object
 26  Soft Bounces rate    352 non-null    object
 27  Complaints           352 non-null    object
 28  Complaints rate      352 non-null    object
dtypes: object(29)
memory usage: 225.1+ KB

In [66]:
df = df.rename_axis(None)

In [67]:
df.head()

2,Campaign ID,Campaign Name,Column 30,Column 29,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Clicked,Click rate,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,96 - recent registration & 3 month clickers\n1...,163 - Has FLUENT ID\n98 - opened 5 + never cli...,£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,654,2.23%,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,146 - Clicked adstart iphone\n98 - opened 5+ n...,iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,681,2.82%,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94, 183",Your Freebie Style,02-09-2025,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,241,1.42%,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98, 177",£100 Tesco via Your Freebie Style,02-09-2025,NaN,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,855,3.41%,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,94 - DO NOT SEND GAMBING\n171 - visited Gaming...,Welcome Bonus via Your Freebie Style,03-09-2025,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,307,1.74%,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%

In [68]:
cleaned_campaign_id = pd.to_numeric(df['Campaign ID'], errors='coerce').astype('Int64')

In [69]:
df.iloc[:, 0] = cleaned_campaign_id
df.rename(columns={df.columns[0]: 'campaign_id'}, inplace=True)

/var/folders/0_/g2ts9hdx4pd4w_59fng0c1980000gn/T/ipykernel_7256/2040703564.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 0] = cleaned_campaign_id

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   campaign_id          352 non-null    Int64
 1   Campaign Name        352 non-null    object
 2   Column 30            352 non-null    object
 3   Column 29            331 non-null    object
 4   Name from            352 non-null    object
 5   Sending date         993 non-null    object
 6   Daily revenue        123 non-null    object
 7   Subject              352 non-null    object
 8   Sent                 352 non-null    object
 9   Non delivered        352 non-null    object
 10  Hard bounces         352 non-null    object
 11  Soft bounces         352 non-null    object
 12  Non delivered rate   352 non-null    object
 13  Delivered            352 non-null    object
 14  Total opens          352 non-null    object
 15  Opens                352 non-null    object
 16  Trackable open rate  352 non-null    object
 17  Apple MPP Opens      352 non-null    object
 18  Total clicked        352 non-null    object
 19  Clicked              352 non-null    object
 20  Click rate           352 non-null    object
 21  Click-to-Open rate   352 non-null    object
 22  Unsubscribed         352 non-null    object
 23  Unsubscription rate  352 non-null    object
 24  Delivered rate       352 non-null    object
 25  Hard Bounces rate    352 non-null    object
 26  Soft Bounces rate    352 non-null    object
 27  Complaints           352 non-null    object
 28  Complaints rate      352 non-null    object
dtypes: Int64(1), object(28)
memory usage: 226.1+ KB

In [72]:
print(df.columns.tolist())

['campaign_id', 'Campaign Name', 'Column 30', 'Column 29', 'Name from', 'Sending date', 'Daily revenue', 'Subject', 'Sent', 'Non delivered', 'Hard bounces', 'Soft bounces', 'Non delivered rate', 'Delivered', 'Total opens', 'Opens', 'Trackable open rate', 'Apple MPP Opens', 'Total clicked', 'Clicked', 'Click rate', 'Click-to-Open rate', 'Unsubscribed', 'Unsubscription rate', 'Delivered rate', 'Hard Bounces rate', 'Soft Bounces rate', 'Complaints', 'Complaints rate']

In [73]:
df.head()

2,campaign_id,Campaign Name,Column 30,Column 29,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Clicked,Click rate,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,96 - recent registration & 3 month clickers\n1...,163 - Has FLUENT ID\n98 - opened 5 + never cli...,£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,654,2.23%,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,146 - Clicked adstart iphone\n98 - opened 5+ n...,iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,681,2.82%,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94, 183",Your Freebie Style,02-09-2025,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,241,1.42%,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98, 177",£100 Tesco via Your Freebie Style,02-09-2025,NaN,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,855,3.41%,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,94 - DO NOT SEND GAMBING\n171 - visited Gaming...,Welcome Bonus via Your Freebie Style,03-09-2025,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,307,1.74%,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%

In [75]:
# Replace the column name appropriately
col = 'Campaign Name'

# Strip leading/trailing whitespace
df[col] = df[col].astype(str).str.strip()

# Optional: normalize multiple spaces
df[col] = df[col].str.replace(r'\s+', ' ', regex=True)

df[col].head()

0    YFS - Redirect - Fluent - RewardsGiant £750 Te...
1    YFS - Redirect - Adstart Media - iPhone 16 (Ju...
2    YFS - Redirect - Little Star Media - Super Fre...
3          YFS - Redirect - YouSweep - Tesco (Batched)
4           YFS - Redirect - Gaming Redirect (cascade)
Name: Campaign Name, dtype: object

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   campaign_id          352 non-null    Int64
 1   Campaign Name        993 non-null    object
 2   Column 30            352 non-null    object
 3   Column 29            331 non-null    object
 4   Name from            352 non-null    object
 5   Sending date         993 non-null    object
 6   Daily revenue        123 non-null    object
 7   Subject              352 non-null    object
 8   Sent                 352 non-null    object
 9   Non delivered        352 non-null    object
 10  Hard bounces         352 non-null    object
 11  Soft bounces         352 non-null    object
 12  Non delivered rate   352 non-null    object
 13  Delivered            352 non-null    object
 14  Total opens          352 non-null    object
 15  Opens                352 non-null    object
 16  Trackable open rate  352 non-null    object
 17  Apple MPP Opens      352 non-null    object
 18  Total clicked        352 non-null    object
 19  Clicked              352 non-null    object
 20  Click rate           352 non-null    object
 21  Click-to-Open rate   352 non-null    object
 22  Unsubscribed         352 non-null    object
 23  Unsubscription rate  352 non-null    object
 24  Delivered rate       352 non-null    object
 25  Hard Bounces rate    352 non-null    object
 26  Soft Bounces rate    352 non-null    object
 27  Complaints           352 non-null    object
 28  Complaints rate      352 non-null    object
dtypes: Int64(1), object(28)
memory usage: 226.1+ KB

In [89]:
df[['Column 30', 'Column 29']].head(10)

2,Column 30,Column 29
0,96 - recent registration & 3 month clickers\n1...,163 - Has FLUENT ID\n98 - opened 5 + never cli...
1,97 - Recent registrations + 1 month clickers,146 - Clicked adstart iphone\n98 - opened 5+ n...
2,150,"94, 183"
3,97,"98, 177"
4,170 - 9 month clickers,94 - DO NOT SEND GAMBING\n171 - visited Gaming...
5,150,"89, 182"
6,96,130
7,150,"94, 184"
8,"46, 141",98
9,150,NaN

In [90]:
for col in ['Column 30', 'Column 29']:
    # Replace line breaks with commas
    df[col] = df[col].str.replace(r'\n', ',', regex=True)
    # Strip leading/trailing spaces
    df[col] = df[col].str.strip()
    # Optional: remove double commas or extra spaces after replacing \n
    df[col] = df[col].str.replace(r',\s*,', ',', regex=True)
    df[col] = df[col].str.replace(r'\s+,', ',', regex=True)
    df[col] = df[col].str.replace(r',\s+', ',', regex=True)

In [91]:
df.rename(columns={
    'Column 30': 'audience_segment_a',
    'Column 29': 'audience_segment_b'
}, inplace=True)

In [92]:
df.head()

2,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Clicked,Click rate,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,654,2.23%,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,681,2.82%,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,02-09-2025,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,241,1.42%,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",£100 Tesco via Your Freebie Style,02-09-2025,NaN,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,855,3.41%,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus via Your Freebie Style,03-09-2025,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,307,1.74%,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%

In [93]:
def parse_ids(cell):
    if pd.isna(cell):
        return []
    # split by comma and keep only numeric IDs
    return [int(s.strip()) for s in cell.split(',') if s.strip().isdigit()]

df['Audience Segment A IDs'] = df['audience_segment_a'].apply(parse_ids)
df['Audience Segment B IDs'] = df['audience_segment_b'].apply(parse_ids)

In [96]:
df.head()

2,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",£750 Tesco Reward via Your Freebie Style,01-09-2025,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%,[],[]
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",iPhone 16 via Your Freebie Style,01-09-2025,NaN,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%,[],[]
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,02-09-2025,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%,[150],"[94, 183]"
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",£100 Tesco via Your Freebie Style,02-09-2025,NaN,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%,[97],"[98, 177]"
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus via Your Freebie Style,03-09-2025,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%,[],[]

In [97]:
df[['Name from']].head(10)

2                                 Name from
0  £750 Tesco Reward via Your Freebie Style
1          iPhone 16 via Your Freebie Style
2                        Your Freebie Style
3         £100 Tesco via Your Freebie Style
4      Welcome Bonus via Your Freebie Style
5              Omaze via Your Freebie Style
6           Get Paid via Your Freebie Style
7                        Your Freebie Style
8        Paypal Cash via Your Freebie Style
9    Kinder Products Via Your Freebie Style

In [102]:
df['Name from'] = df['Name from'].str.strip()
df['Name from'] = df['Name from'].str.replace(r'\s+', ' ', regex=True)
df['Name from'] = df['Name from'].str.replace(r'^[^\w]+', '', regex=True)
df['Name from'] = df['Name from'].astype(str)  # ensures pandas treats it as text

In [106]:
df[['Sending date']].head(10)

2 Sending date
0   01-09-2025
1   01-09-2025
2   02-09-2025
3   02-09-2025
4   03-09-2025
5   03-09-2025
6   03-09-2025
7   04-09-2025
8   04-09-2025
9   05-09-2025

In [107]:
df['Sending date'] = df['Sending date'].str.strip()

In [108]:
df['Sending date'] = pd.to_datetime(df['Sending date'], format='%d-%m-%Y', errors='coerce')

In [109]:
print(df['Sending date'].head())
print(df['Sending date'].dtype)  # should show datetime64[ns]

0   2025-09-01
1   2025-09-01
2   2025-09-02
3   2025-09-02
4   2025-09-03
Name: Sending date, dtype: datetime64[ns]
datetime64[ns]

In [110]:
df['Sending date'].isna().sum()

641

In [111]:
# Optionally drop rows with invalid dates
df = df.dropna(subset=['Sending date'])

In [112]:
df['Sending date'].isna().sum()

0

In [113]:
df[['Sending date']].head(10)

2 Sending date
0   2025-09-01
1   2025-09-01
2   2025-09-02
3   2025-09-02
4   2025-09-03
5   2025-09-03
6   2025-09-03
7   2025-09-04
8   2025-09-04
9   2025-09-05

In [115]:
df[['Daily revenue']].head(10)

2 Daily revenue
0        360.19
1           NaN
2        463.77
3           NaN
4        478.54
5           NaN
6           NaN
7        482.75
8           NaN
9         390.2

In [116]:
df['Daily revenue'] = df['Daily revenue'].astype(str).str.strip()

In [117]:
df['Daily revenue'] = pd.to_numeric(df['Daily revenue'], errors='coerce')

In [118]:
print(df['Daily revenue'].head(10))
print(df['Daily revenue'].dtype)  # should be float64

0    360.19
1       NaN
2    463.77
3       NaN
4    478.54
5       NaN
6       NaN
7    482.75
8       NaN
9    390.20
Name: Daily revenue, dtype: float64
float64

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    object
 9   Non delivered           352 non-null    object
 10  Hard bounces            352 non-null    object
 11  Soft bounces            352 non-null    object
 12  Non delivered rate      352 non-null    object
 13  Delivered               352 non-null    object
 14  Total opens             352 non-null    object
 15  Opens                   352 non-null    object
 16  Trackable open rate     352 non-null    object
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(1), datetime64[ns](1), float64(1), object(28)
memory usage: 88.3+ KB

In [120]:
df['Daily revenue'] = df['Daily revenue'].fillna(0)

In [122]:

df.head()

2,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,{{ contact.FIRSTNAME }} when was your last Tes...,29279,15,...,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%,[],[]
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,{{ contact.FIRSTNAME }} Your iPhone 16 Entry N...,24120,3,...,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%,[],[]
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"{{contact.FIRSTNAME | default : ""Hey ""}} here’...",16946,2,...,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%,[150],"[94, 183]"
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,{{ contact.FIRSTNAME }} Your £100 Tesco Gift C...,25078,7,...,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%,[97],"[98, 177]"
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,{{ contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%,[],[]

In [123]:
df[['Subject']].head(10)

2                                            Subject
0  {{ contact.FIRSTNAME }} when was your last Tes...
1  {{ contact.FIRSTNAME }} Your iPhone 16 Entry N...
2  {{contact.FIRSTNAME | default : "Hey "}} here’...
3  {{ contact.FIRSTNAME }} Your £100 Tesco Gift C...
4    {{ contact.FIRSTNAME }} You've Got a New Bonus!
5  {{ contact.FIRSTNAME | default : 'Hello' }} Yo...
6    {{ contact.FIRSTNAME }} choose a payment method
7  {{ contact.FIRSTNAME | default : "Hello " }} C...
8  {{ contact.FIRSTNAME }} Your Free PayPal Cash ...
9  {{ contact.FIRSTNAME | default : "Hey " }} - S...

In [124]:
df['Subject'] = df['Subject'].str.strip()

In [125]:
df['Subject'] = df['Subject'].str.replace(r'\s+', ' ', regex=True)

In [126]:
df['Subject'] = df['Subject'].str.replace(r'^[^\w]+', '', regex=True)
df['Subject'] = df['Subject'].astype(str)

In [127]:
df[['Subject']].head(10)

2                                            Subject
0  contact.FIRSTNAME }} when was your last Tesco ...
1  contact.FIRSTNAME }} Your iPhone 16 Entry Need...
2  contact.FIRSTNAME | default : "Hey "}} here’s ...
3  contact.FIRSTNAME }} Your £100 Tesco Gift Card...
4       contact.FIRSTNAME }} You've Got a New Bonus!
5  contact.FIRSTNAME | default : 'Hello' }} You C...
6       contact.FIRSTNAME }} choose a payment method
7  contact.FIRSTNAME | default : "Hello " }} Clai...
8  contact.FIRSTNAME }} Your Free PayPal Cash Is ...
9  contact.FIRSTNAME | default : "Hey " }} - Swee...

In [128]:
df.head()

2,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,contact.FIRSTNAME }} when was your last Tesco ...,29279,15,...,20.07%,79,0.27%,99.95%,0.01%,0.05%,2,0.01%,[],[]
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,contact.FIRSTNAME }} Your iPhone 16 Entry Need...,24120,3,...,18.84%,92,0.38%,99.99%,0%,0.01%,0,0%,[],[]
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"contact.FIRSTNAME | default : ""Hey ""}} here’s ...",16946,2,...,4.89%,77,0.45%,99.99%,0%,0.03%,4,0.02%,[150],"[94, 183]"
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,contact.FIRSTNAME }} Your £100 Tesco Gift Card...,25078,7,...,22.71%,76,0.30%,99.97%,0%,0.03%,0,0%,[97],"[98, 177]"
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,contact.FIRSTNAME }} You've Got a New Bonus!,17623,-14,...,9.57%,93,0.53%,100.08%,0%,0.04%,1,0.01%,[],[]

In [129]:
df[['Sent']].head(10)

2   Sent
0  29279
1  24120
2  16946
3  25078
4  17623
5  11868
6  25063
7  17417
8  37782
9  18053

In [130]:
print(df['Sent'].dtype)  # likely object because of import from Google Sheets

object

In [131]:
df['Sent'] = pd.to_numeric(df['Sent'], errors='coerce')

In [132]:
df['Sent'] = df['Sent'].astype('Int64')  # allows nullable integers

In [134]:
df[['Sent']].head(10)

2   Sent
0  29279
1  24120
2  16946
3  25078
4  17623
5  11868
6  25063
7  17417
8  37782
9  18053

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    object
 10  Hard bounces            352 non-null    object
 11  Soft bounces            352 non-null    object
 12  Non delivered rate      352 non-null    object
 13  Delivered               352 non-null    object
 14  Total opens             352 non-null    object
 15  Opens                   352 non-null    object
 16  Trackable open rate     352 non-null    object
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(2), datetime64[ns](1), float64(1), object(27)
memory usage: 88.7+ KB

In [137]:
df[['Non delivered']].head(10)

2 Non delivered
0            15
1             3
2             2
3             7
4           -14
5             2
6             9
7             5
8            51
9             1

In [138]:
# Convert to numeric (integer) and coerce invalid entries to NaN
df['Non delivered'] = pd.to_numeric(df['Non delivered'], errors='coerce').astype('Int64')

In [139]:
df['Non delivered'] = df['Non delivered'].abs()

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    object
 11  Soft bounces            352 non-null    object
 12  Non delivered rate      352 non-null    object
 13  Delivered               352 non-null    object
 14  Total opens             352 non-null    object
 15  Opens                   352 non-null    object
 16  Trackable open rate     352 non-null    object
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(3), datetime64[ns](1), float64(1), object(26)
memory usage: 89.0+ KB

In [141]:
df[['Non delivered']].head(10)

2  Non delivered
0             15
1              3
2              2
3              7
4             14
5              2
6              9
7              5
8             51
9              1

In [146]:
df[['Hard bounces']].head(10)

2  Hard bounces
0             2
1             0
2             0
3             0
4             0
5             0
6             0
7             2
8            12
9             0

In [143]:
# Convert to numeric and allow nullable integers
df['Hard bounces'] = pd.to_numeric(df['Hard bounces'], errors='coerce').astype('Int64')

In [144]:
df.loc[df['Hard bounces'] < 0, 'Hard bounces'] = pd.NA

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    object
 14  Total opens             352 non-null    object
 15  Opens                   352 non-null    object
 16  Trackable open rate     352 non-null    object
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(5), datetime64[ns](1), float64(2), object(23)
memory usage: 89.7+ KB

In [155]:
df[['Soft bounces']].head(10)

2  Soft bounces
0            14
1             3
2             5
3             7
4             7
5             2
6             9
7             3
8            39
9             1

In [153]:
# Convert to numeric and allow nullable integers
df['Soft bounces'] = pd.to_numeric(df['Soft bounces'], errors='coerce').astype('Int64')

In [154]:
df.loc[df['Soft bounces'] < 0, 'Soft bounces'] = pd.NA

In [161]:
df[['Non delivered rate']].head(10)

2  Non delivered rate
0              0.0005
1              0.0001
2              0.0001
3              0.0003
4                 NaN
5              0.0002
6              0.0004
7              0.0003
8              0.0013
9              0.0001

In [ ]:
# Remove '%' and convert to float
df['Non delivered rate'] = df['Non delivered rate'].str.replace('%', '', regex=False)

# Convert to numeric
df['Non delivered rate'] = pd.to_numeric(df['Non delivered rate'], errors='coerce')

# Convert percentage to fraction
# df['Non delivered rate'] = df['Non delivered rate'] / 100

# Replace negative values with NaN (optional)
df.loc[df['Non delivered rate'] < 0, 'Non delivered rate'] = pd.NA

In [167]:
df[['Delivered']].head(10)

2  Delivered
0      29264
1      24117
2      16944
3      25071
4      17637
5      11866
6      25054
7      17412
8      37731
9      18052

In [165]:
# Convert to numeric and allow nullable integers
df['Delivered'] = pd.to_numeric(df['Delivered'], errors='coerce').astype('Int64')

In [166]:
df.loc[df['Delivered'] < 0, 'Delivered'] = pd.NA

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    Int64
 14  Total opens             352 non-null    Int64
 15  Opens                   352 non-null    Int64
 16  Trackable open rate     352 non-null    object
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(8), datetime64[ns](1), float64(2), object(20)
memory usage: 90.8+ KB

In [172]:
df[['Total opens']].head(10)

2  Total opens
0         4492
1         5408
2         6542
3         5407
4         4246
5         4239
6         4024
7         6629
8         6807
9         7629

In [170]:
# Convert to numeric and allow nullable integers
df['Total opens'] = pd.to_numeric(df['Total opens'], errors='coerce').astype('Int64')

In [171]:
df.loc[df['Total opens'] < 0, 'Total opens'] = pd.NA

In [177]:
df[['Opens']].head(10)

2  Opens
0   3259
1   3615
2   4932
3   3765
4   3209
5   3125
6   2957
7   4997
8   4730
9   5630

In [175]:
# Convert to numeric and allow nullable integers
df['Opens'] = pd.to_numeric(df['Opens'], errors='coerce').astype('Int64')

In [176]:
df.loc[df['Opens'] < 0, 'Opens'] = pd.NA

In [182]:
df[['Trackable open rate']].head(10)

2  Trackable open rate
0               0.1318
1               0.1762
2               0.3285
3               0.1762
4               0.2321
5               0.2938
6               0.1406
7               0.3224
8               0.1399
9               0.3520

In [180]:
# Remove '%' and convert to numeric
df['Trackable open rate'] = df['Trackable open rate'].str.replace('%', '', regex=False)

# Convert to float
df['Trackable open rate'] = pd.to_numeric(df['Trackable open rate'], errors='coerce')

# Convert to fraction (e.g., 13.18% -> 0.1318)
df['Trackable open rate'] = df['Trackable open rate'] / 100

# Optional: handle negative values if they exist
df.loc[df['Trackable open rate'] < 0, 'Trackable open rate'] = pd.NA

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    Int64
 14  Total opens             352 non-null    Int64
 15  Opens                   352 non-null    Int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    object
 18  Total clicked           352 non-null    object
 19  Clicked                 352 non-null    object
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(8), datetime64[ns](1), float64(3), object(19)
memory usage: 90.8+ KB

In [183]:
df[['Apple MPP Opens']].head(10)

2 Apple MPP Opens
0            4532
1            3596
2            1932
3            3709
4            3812
5            1229
6            4017
7            1915
8            3911
9            2056

In [184]:
# Convert to numeric and allow nullable integers
df['Apple MPP Opens'] = pd.to_numeric(df['Apple MPP Opens'], errors='coerce').astype('Int64')

In [185]:
df.loc[df['Apple MPP Opens'] < 0, 'Apple MPP Opens'] = pd.NA

In [186]:
df[['Total clicked']].head(10)

2 Total clicked
0           828
1          1006
2           317
3          1299
4           394
5           359
6           491
7           172
8          1636
9           657

In [187]:
# Convert to numeric and allow nullable integers
df['Total clicked'] = pd.to_numeric(df['Total clicked'], errors='coerce').astype('Int64')

In [188]:
df.loc[df['Total clicked'] < 0, 'Total clicked'] = pd.NA

In [189]:
df[["Clicked"]].head(10)

2 Clicked
0     654
1     681
2     241
3     855
4     307
5     257
6     376
7     135
8    1176
9     521

In [190]:
# Convert to numeric and allow nullable integers
df['Clicked'] = pd.to_numeric(df['Clicked'], errors='coerce').astype('Int64')
df.loc[df['Clicked'] < 0, 'Clicked'] = pd.NA

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    Int64
 14  Total opens             352 non-null    Int64
 15  Opens                   352 non-null    Int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    Int64
 18  Total clicked           352 non-null    Int64
 19  Clicked                 352 non-null    Int64
 20  Click rate              352 non-null    object
 21  Click-to-Open rate      352 non-null    object
 22  Unsubscribed            352 non-null    object
 23  Unsubscription rate     352 non-null    object
 24  Delivered rate          352 non-null    object
 25  Hard Bounces rate       352 non-null    object
 26  Soft Bounces rate       352 non-null    object
 27  Complaints              352 non-null    object
 28  Complaints rate         352 non-null    object
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(11), datetime64[ns](1), float64(3), object(16)
memory usage: 91.8+ KB

In [193]:
df.columns

Index(['campaign_id', 'Campaign Name', 'audience_segment_a',
       'audience_segment_b', 'Name from', 'Sending date', 'Daily revenue',
       'Subject', 'Sent', 'Non delivered', 'Hard bounces', 'Soft bounces',
       'Non delivered rate', 'Delivered', 'Total opens', 'Opens',
       'Trackable open rate', 'Apple MPP Opens', 'Total clicked', 'Clicked',
       'Click rate', 'Click-to-Open rate', 'Unsubscribed',
       'Unsubscription rate', 'Delivered rate', 'Hard Bounces rate',
       'Soft Bounces rate', 'Complaints', 'Complaints rate',
       'Audience Segment A IDs', 'Audience Segment B IDs'],
      dtype='object', name=2)

In [194]:
df[["Click rate"]].head(10)

2 Click rate
0      2.23%
1      2.82%
2      1.42%
3      3.41%
4      1.74%
5      2.17%
6      1.50%
7      0.78%
8      3.12%
9      2.89%

In [195]:
# Remove '%' and convert to numeric
df['Click rate'] = df['Click rate'].str.replace('%', '', regex=False)

# Convert to float
df['Click rate'] = pd.to_numeric(df['Click rate'], errors='coerce')

# Convert percentage to fraction (e.g., 2.23% -> 0.0223)
df['Click rate'] = df['Click rate'] / 100

# Optional: handle negative values
df.loc[df['Click rate'] < 0, 'Click rate'] = pd.NA

In [196]:
print(df['Click rate'].head())
print(df['Click rate'].dtype)  # should be float64

0    0.0223
1    0.0282
2    0.0142
3    0.0341
4    0.0174
Name: Click rate, dtype: float64
float64

In [197]:
df[["Click-to-Open rate"]].head(10)

2 Click-to-Open rate
0             20.07%
1             18.84%
2              4.89%
3             22.71%
4              9.57%
5              8.22%
6             12.72%
7              2.70%
8             24.86%
9              9.25%

In [198]:
# Remove '%' and convert to numeric
df['Click-to-Open rate'] = df['Click-to-Open rate'].str.replace('%', '', regex=False)

# Convert to float
df['Click-to-Open rate'] = pd.to_numeric(df['Click-to-Open rate'], errors='coerce')

# Convert percentage to fraction (e.g., 20.07% -> 0.2007)
df['Click-to-Open rate'] = df['Click-to-Open rate'] / 100

# Handle negative values if any
df.loc[df['Click-to-Open rate'] < 0, 'Click-to-Open rate'] = pd.NA

In [199]:
print(df['Click-to-Open rate'].head())
print(df['Click-to-Open rate'].dtype)  # should be float64

0    0.2007
1    0.1884
2    0.0489
3    0.2271
4    0.0957
Name: Click-to-Open rate, dtype: float64
float64

In [200]:
df[["Unsubscribed"]].head(10)

2 Unsubscribed
0           79
1           92
2           77
3           76
4           93
5           30
6           63
7           67
8          100
9           64

In [201]:
# Convert to numeric and allow nullable integers
df['Unsubscribed'] = pd.to_numeric(df['Unsubscribed'], errors='coerce').astype('Int64')

In [202]:
df.loc[df['Unsubscribed'] < 0, 'Unsubscribed'] = pd.NA

In [203]:
df.columns

Index(['campaign_id', 'Campaign Name', 'audience_segment_a',
       'audience_segment_b', 'Name from', 'Sending date', 'Daily revenue',
       'Subject', 'Sent', 'Non delivered', 'Hard bounces', 'Soft bounces',
       'Non delivered rate', 'Delivered', 'Total opens', 'Opens',
       'Trackable open rate', 'Apple MPP Opens', 'Total clicked', 'Clicked',
       'Click rate', 'Click-to-Open rate', 'Unsubscribed',
       'Unsubscription rate', 'Delivered rate', 'Hard Bounces rate',
       'Soft Bounces rate', 'Complaints', 'Complaints rate',
       'Audience Segment A IDs', 'Audience Segment B IDs'],
      dtype='object', name=2)

In [204]:
df[["Unsubscription rate"]].head(10)

2 Unsubscription rate
0               0.27%
1               0.38%
2               0.45%
3               0.30%
4               0.53%
5               0.25%
6               0.25%
7               0.38%
8               0.27%
9               0.35%

In [205]:
# Remove '%' and convert to numeric
df['Unsubscription rate'] = df['Unsubscription rate'].str.replace('%', '', regex=False)

# Convert to float
df['Unsubscription rate'] = pd.to_numeric(df['Unsubscription rate'], errors='coerce')

# Convert percentage to fraction (e.g., 0.27% -> 0.0027)
df['Unsubscription rate'] = df['Unsubscription rate'] / 100

# Handle negative values if any
df.loc[df['Unsubscription rate'] < 0, 'Unsubscription rate'] = pd.NA

In [206]:
print(df['Unsubscription rate'].head())
print(df['Unsubscription rate'].dtype)  # should be float64

0    0.0027
1    0.0038
2    0.0045
3    0.0030
4    0.0053
Name: Unsubscription rate, dtype: float64
float64

In [207]:

df[["Delivered rate"]].head(10)

2 Delivered rate
0         99.95%
1         99.99%
2         99.99%
3         99.97%
4        100.08%
5         99.98%
6         99.96%
7         99.97%
8         99.87%
9         99.99%

In [208]:
# Remove '%' and convert to numeric
df['Delivered rate'] = df['Delivered rate'].str.replace('%', '', regex=False)

# Convert to float
df['Delivered rate'] = pd.to_numeric(df['Delivered rate'], errors='coerce')

# Convert percentage to fraction (e.g., 99.95% -> 0.9995)
df['Delivered rate'] = df['Delivered rate'] / 100

# Optional: handle negative or >1 values (invalid)
df.loc[(df['Delivered rate'] < 0) | (df['Delivered rate'] > 1), 'Delivered rate'] = pd.NA

In [209]:
print(df['Delivered rate'].head())
print(df['Delivered rate'].dtype)  # should be float64

0    0.9995
1    0.9999
2    0.9999
3    0.9997
4       NaN
Name: Delivered rate, dtype: float64
float64

In [211]:

df['Hard Bounces rate'].head(10)

0    0.01%
1       0%
2       0%
3       0%
4       0%
5       0%
6       0%
7    0.01%
8    0.03%
9       0%
Name: Hard Bounces rate, dtype: object

In [212]:
# Remove '%' and convert to numeric
df['Hard Bounces rate'] = df['Hard Bounces rate'].str.replace('%', '', regex=False)

# Convert to float
df['Hard Bounces rate'] = pd.to_numeric(df['Hard Bounces rate'], errors='coerce')

# Convert percentage to fraction (e.g., 0.01% -> 0.0001)
df['Hard Bounces rate'] = df['Hard Bounces rate'] / 100

# Optional: handle negative or >1 values
df.loc[(df['Hard Bounces rate'] < 0) | (df['Hard Bounces rate'] > 1), 'Hard Bounces rate'] = pd.NA

In [213]:
print(df['Hard Bounces rate'].head())
print(df['Hard Bounces rate'].dtype)  # should be float64

0    0.0001
1    0.0000
2    0.0000
3    0.0000
4    0.0000
Name: Hard Bounces rate, dtype: float64
float64

In [214]:
df.columns

Index(['campaign_id', 'Campaign Name', 'audience_segment_a',
       'audience_segment_b', 'Name from', 'Sending date', 'Daily revenue',
       'Subject', 'Sent', 'Non delivered', 'Hard bounces', 'Soft bounces',
       'Non delivered rate', 'Delivered', 'Total opens', 'Opens',
       'Trackable open rate', 'Apple MPP Opens', 'Total clicked', 'Clicked',
       'Click rate', 'Click-to-Open rate', 'Unsubscribed',
       'Unsubscription rate', 'Delivered rate', 'Hard Bounces rate',
       'Soft Bounces rate', 'Complaints', 'Complaints rate',
       'Audience Segment A IDs', 'Audience Segment B IDs'],
      dtype='object', name=2)

In [216]:
df[['Soft Bounces rate']].head(10)

2 Soft Bounces rate
0             0.05%
1             0.01%
2             0.03%
3             0.03%
4             0.04%
5             0.02%
6             0.04%
7             0.02%
8             0.10%
9             0.01%

In [217]:
# Remove '%' and convert to numeric
df['Soft Bounces rate'] = df['Soft Bounces rate'].str.replace('%', '', regex=False)

# Convert to float
df['Soft Bounces rate'] = pd.to_numeric(df['Soft Bounces rate'], errors='coerce')

# Convert percentage to fraction (e.g., 0.05% -> 0.0005)
df['Soft Bounces rate'] = df['Soft Bounces rate'] / 100

# Handle negative or >1 values
df.loc[(df['Soft Bounces rate'] < 0) | (df['Soft Bounces rate'] > 1), 'Soft Bounces rate'] = pd.NA

In [218]:
print(df['Soft Bounces rate'].head())
print(df['Soft Bounces rate'].dtype)  # should be float64

0    0.0005
1    0.0001
2    0.0003
3    0.0003
4    0.0004
Name: Soft Bounces rate, dtype: float64
float64

In [219]:

df[['Complaints']].head(10)

2 Complaints
0          2
1          0
2          4
3          0
4          1
5          0
6          1
7          4
8          1
9          0

In [220]:
# Convert to numeric and allow nullable integers
df['Complaints'] = pd.to_numeric(df['Complaints'], errors='coerce').astype('Int64')
df.loc[df['Complaints'] < 0, 'Complaints'] = pd.NA

In [221]:

df[['Complaints rate']].head(10)

2 Complaints rate
0           0.01%
1              0%
2           0.02%
3              0%
4           0.01%
5              0%
6              0%
7           0.02%
8              0%
9              0%

In [222]:
# Remove '%' and convert to numeric
df['Complaints rate'] = df['Complaints rate'].str.replace('%', '', regex=False)

# Convert to float
df['Complaints rate'] = pd.to_numeric(df['Complaints rate'], errors='coerce')

# Convert percentage to fraction (e.g., 0.01% -> 0.0001)
df['Complaints rate'] = df['Complaints rate'] / 100

# Handle negative or >1 values
df.loc[(df['Complaints rate'] < 0) | (df['Complaints rate'] > 1), 'Complaints rate'] = pd.NA

In [223]:
print(df['Complaints rate'].head())
print(df['Complaints rate'].dtype)  # should be float64

0    0.0001
1    0.0000
2    0.0002
3    0.0000
4    0.0001
Name: Complaints rate, dtype: float64
float64

In [227]:


df[['Audience Segment B IDs']].head(10)

2 Audience Segment B IDs
0                     []
1                     []
2              [94, 183]
3              [98, 177]
4                     []
5              [89, 182]
6                  [130]
7              [94, 184]
8                   [98]
9                     []

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    Int64
 14  Total opens             352 non-null    Int64
 15  Opens                   352 non-null    Int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    Int64
 18  Total clicked           352 non-null    Int64
 19  Clicked                 352 non-null    Int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    Int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          351 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    Int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(13), datetime64[ns](1), float64(10), object(7)
memory usage: 92.5+ KB

In [241]:
import ast

def safe_list_parse(x):
    # If it's a string like "[46, 141]", convert to list
    if isinstance(x, str):
        try:
            return [int(i) for i in ast.literal_eval(x)]
        except Exception:
            return []  # fallback for malformed strings
    # If it's already a list, make sure all elements are integers
    elif isinstance(x, list):
        return [int(i) for i in x if i is not None]
    else:
        return []  # fallback for NaN or other types

df['Audience Segment A IDs'] = df['Audience Segment A IDs'].apply(safe_list_parse)

In [242]:
df['Audience Segment B IDs'] = df['Audience Segment B IDs'].apply(safe_list_parse)

In [244]:
df[['Audience Segment A IDs']].head(10)

2 Audience Segment A IDs
0                     []
1                     []
2                  [150]
3                   [97]
4                     []
5                  [150]
6                   [96]
7                  [150]
8              [46, 141]
9                  [150]

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    Int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    Int64
 9   Non delivered           352 non-null    Int64
 10  Hard bounces            352 non-null    Int64
 11  Soft bounces            352 non-null    Int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    Int64
 14  Total opens             352 non-null    Int64
 15  Opens                   352 non-null    Int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    Int64
 18  Total clicked           352 non-null    Int64
 19  Clicked                 352 non-null    Int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    Int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          351 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    Int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: Int64(13), datetime64[ns](1), float64(10), object(7)
memory usage: 92.5+ KB

In [247]:
# Save to CSV
df.to_csv('../data/1st_cleaned_campaign_data.csv', index=False)

In [248]:
df_cleaned = pd.read_csv('../data/1st_cleaned_campaign_data.csv')

In [249]:
df_cleaned.head()

,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,contact.FIRSTNAME }} when was your last Tesco ...,29279,15,...,0.2007,79,0.0027,0.9995,0.0001,0.0005,2,0.0001,[],[]
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,contact.FIRSTNAME }} Your iPhone 16 Entry Need...,24120,3,...,0.1884,92,0.0038,0.9999,0.0000,0.0001,0,0.0000,[],[]
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"contact.FIRSTNAME | default : ""Hey ""}} here’s ...",16946,2,...,0.0489,77,0.0045,0.9999,0.0000,0.0003,4,0.0002,[150],"[94, 183]"
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,contact.FIRSTNAME }} Your £100 Tesco Gift Card...,25078,7,...,0.2271,76,0.0030,0.9997,0.0000,0.0003,0,0.0000,[97],"[98, 177]"
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,contact.FIRSTNAME }} You've Got a New Bonus!,17623,14,...,0.0957,93,0.0053,NaN,0.0000,0.0004,1,0.0001,[],[]

In [256]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      351 non-null    object
 3   audience_segment_b      330 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    object
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    int64
 9   Non delivered           352 non-null    int64
 10  Hard bounces            352 non-null    int64
 11  Soft bounces            352 non-null    int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    int64
 14  Total opens             352 non-null    int64
 15  Opens                   352 non-null    int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    int64
 18  Total clicked           352 non-null    int64
 19  Clicked                 352 non-null    int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          351 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: float64(10), int64(13), object(8)
memory usage: 85.4+ KB

In [254]:
df[['audience_segment_a']].head(100)

2                                  audience_segment_a
0   96 - recent registration & 3 month clickers,11...
1        97 - Recent registrations + 1 month clickers
2                                                 150
3                                                  97
4                              170 - 9 month clickers
..                                                ...
95                                                150
96                                         92,179,200
97                                                203
98                                                 97
99                                         92,179,200

[100 rows x 1 columns]

In [257]:
for col in df_cleaned.select_dtypes(include='object').columns:
    df_cleaned[col] = df_cleaned[col].fillna('Unknown')

In [258]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      352 non-null    object
 3   audience_segment_b      352 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    object
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    int64
 9   Non delivered           352 non-null    int64
 10  Hard bounces            352 non-null    int64
 11  Soft bounces            352 non-null    int64
 12  Non delivered rate      351 non-null    float64
 13  Delivered               352 non-null    int64
 14  Total opens             352 non-null    int64
 15  Opens                   352 non-null    int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    int64
 18  Total clicked           352 non-null    int64
 19  Clicked                 352 non-null    int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          351 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: float64(10), int64(13), object(8)
memory usage: 85.4+ KB

In [261]:
# Fill nulls in all float64 columns with 0.0
for col in df_cleaned.select_dtypes(include='float64').columns:
    df_cleaned[col] = df_cleaned[col].fillna(0.0)

In [291]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      352 non-null    object
 3   audience_segment_b      352 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    object
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    int64
 9   Non delivered           352 non-null    int64
 10  Hard bounces            352 non-null    int64
 11  Soft bounces            352 non-null    int64
 12  Non delivered rate      352 non-null    float64
 13  Delivered               352 non-null    int64
 14  Total opens             352 non-null    int64
 15  Opens                   352 non-null    int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    int64
 18  Total clicked           352 non-null    int64
 19  Clicked                 352 non-null    int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          352 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: float64(10), int64(13), object(8)
memory usage: 85.4+ KB

In [263]:
df_cleaned.head()

,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,YFS - Redirect - Fluent - RewardsGiant £750 Te...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,contact.FIRSTNAME }} when was your last Tesco ...,29279,15,...,0.2007,79,0.0027,0.9995,0.0001,0.0005,2,0.0001,[],[]
1,1807,YFS - Redirect - Adstart Media - iPhone 16 (Ju...,97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,contact.FIRSTNAME }} Your iPhone 16 Entry Need...,24120,3,...,0.1884,92,0.0038,0.9999,0.0000,0.0001,0,0.0000,[],[]
2,1809,YFS - Redirect - Little Star Media - Super Fre...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"contact.FIRSTNAME | default : ""Hey ""}} here’s ...",16946,2,...,0.0489,77,0.0045,0.9999,0.0000,0.0003,4,0.0002,[150],"[94, 183]"
3,1811,YFS - Redirect - YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,contact.FIRSTNAME }} Your £100 Tesco Gift Card...,25078,7,...,0.2271,76,0.0030,0.9997,0.0000,0.0003,0,0.0000,[97],"[98, 177]"
4,1791,YFS - Redirect - Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,contact.FIRSTNAME }} You've Got a New Bonus!,17623,14,...,0.0957,93,0.0053,0.0000,0.0000,0.0004,1,0.0001,[],[]

In [264]:
df_cleaned.columns

Index(['campaign_id', 'Campaign Name', 'audience_segment_a',
       'audience_segment_b', 'Name from', 'Sending date', 'Daily revenue',
       'Subject', 'Sent', 'Non delivered', 'Hard bounces', 'Soft bounces',
       'Non delivered rate', 'Delivered', 'Total opens', 'Opens',
       'Trackable open rate', 'Apple MPP Opens', 'Total clicked', 'Clicked',
       'Click rate', 'Click-to-Open rate', 'Unsubscribed',
       'Unsubscription rate', 'Delivered rate', 'Hard Bounces rate',
       'Soft Bounces rate', 'Complaints', 'Complaints rate',
       'Audience Segment A IDs', 'Audience Segment B IDs'],
      dtype='object')

In [271]:
df_cleaned[['Campaign Name']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign Name  352 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [298]:
df_cleaned[['Subject']].head(10)

                                             Subject
0  contact.FIRSTNAME }} when was your last Tesco ...
1  contact.FIRSTNAME }} Your iPhone 16 Entry Need...
2  contact.FIRSTNAME | default : "Hey "}} here’s ...
3  contact.FIRSTNAME }} Your £100 Tesco Gift Card...
4       contact.FIRSTNAME }} You've Got a New Bonus!
5  contact.FIRSTNAME | default : 'Hello' }} You C...
6       contact.FIRSTNAME }} choose a payment method
7  contact.FIRSTNAME | default : "Hello " }} Clai...
8  contact.FIRSTNAME }} Your Free PayPal Cash Is ...
9  contact.FIRSTNAME | default : "Hey " }} - Swee...

In [299]:
df_cleaned[['Subject']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  352 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [301]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   campaign_id             352 non-null    int64
 1   Campaign Name           352 non-null    object
 2   audience_segment_a      352 non-null    object
 3   audience_segment_b      352 non-null    object
 4   Name from               352 non-null    object
 5   Sending date            352 non-null    datetime64[ns]
 6   Daily revenue           352 non-null    float64
 7   Subject                 352 non-null    object
 8   Sent                    352 non-null    int64
 9   Non delivered           352 non-null    int64
 10  Hard bounces            352 non-null    int64
 11  Soft bounces            352 non-null    int64
 12  Non delivered rate      352 non-null    float64
 13  Delivered               352 non-null    int64
 14  Total opens             352 non-null    int64
 15  Opens                   352 non-null    int64
 16  Trackable open rate     352 non-null    float64
 17  Apple MPP Opens         352 non-null    int64
 18  Total clicked           352 non-null    int64
 19  Clicked                 352 non-null    int64
 20  Click rate              352 non-null    float64
 21  Click-to-Open rate      352 non-null    float64
 22  Unsubscribed            352 non-null    int64
 23  Unsubscription rate     352 non-null    float64
 24  Delivered rate          352 non-null    float64
 25  Hard Bounces rate       352 non-null    float64
 26  Soft Bounces rate       352 non-null    float64
 27  Complaints              352 non-null    int64
 28  Complaints rate         352 non-null    float64
 29  Audience Segment A IDs  352 non-null    object
 30  Audience Segment B IDs  352 non-null    object
dtypes: datetime64[ns](1), float64(10), int64(13), object(7)
memory usage: 85.4+ KB

In [309]:
# Save to CSV
df_cleaned.to_csv('../data/2nd_cleaned_campaign_data.csv', index=False)

In [310]:
df_cleaned_2 = pd.read_csv('../data/2nd_cleaned_campaign_data.csv')

In [311]:
df_cleaned_2.head()

,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,Fluent - RewardsGiant £750 Tesco (Day Batched ...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,contact.FIRSTNAME }} when was your last Tesco ...,29279,15,...,0.2007,79,0.0027,0.9995,0.0001,0.0005,2,0.0001,[],[]
1,1807,Adstart Media - iPhone 16 (July25) (Batched),97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,contact.FIRSTNAME }} Your iPhone 16 Entry Need...,24120,3,...,0.1884,92,0.0038,0.9999,0.0000,0.0001,0,0.0000,[],[]
2,1809,Little Star Media - Super Free Bingo (April25)...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"contact.FIRSTNAME | default : ""Hey ""}} here’s ...",16946,2,...,0.0489,77,0.0045,0.9999,0.0000,0.0003,4,0.0002,[150],"[94, 183]"
3,1811,YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,contact.FIRSTNAME }} Your £100 Tesco Gift Card...,25078,7,...,0.2271,76,0.0030,0.9997,0.0000,0.0003,0,0.0000,[97],"[98, 177]"
4,1791,Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,contact.FIRSTNAME }} You've Got a New Bonus!,17623,14,...,0.0957,93,0.0053,0.0000,0.0000,0.0004,1,0.0001,[],[]

In [308]:
import json
import ast

def clean_audience_column(x):
    # If it's a string like "[46, 141]", convert to list
    if isinstance(x, str):
        try:
            return json.dumps([int(i) for i in ast.literal_eval(x)])
        except Exception:
            return json.dumps([])  # fallback for malformed strings
    # If it's already a list, convert elements to int and dump as JSON string
    elif isinstance(x, list):
        return json.dumps([int(i) for i in x if i is not None])
    else:
        # fallback for NaN or other types
        return json.dumps([])

# Apply to both columns
df_cleaned_2['Audience Segment A IDs'] = df_cleaned_2['Audience Segment A IDs'].apply(clean_audience_column)
df_cleaned_2['Audience Segment B IDs'] = df_cleaned_2['Audience Segment B IDs'].apply(clean_audience_column)

# Check first rows
print(df_cleaned_2[['Audience Segment A IDs', 'Audience Segment B IDs']].head(100))

   Audience Segment A IDs Audience Segment B IDs
0                      []                     []
1                      []                     []
2                   [150]              [94, 183]
3                    [97]              [98, 177]
4                      []                     []
..                    ...                    ...
95                  [150]             [189, 163]
96         [92, 179, 200]                   [94]
97                  [203]                  [202]
98                   [97]                  [177]
99         [92, 179, 200]                   [94]

[100 rows x 2 columns]

In [312]:
df_cleaned_2.head()

,campaign_id,Campaign Name,audience_segment_a,audience_segment_b,Name from,Sending date,Daily revenue,Subject,Sent,Non delivered,...,Click-to-Open rate,Unsubscribed,Unsubscription rate,Delivered rate,Hard Bounces rate,Soft Bounces rate,Complaints,Complaints rate,Audience Segment A IDs,Audience Segment B IDs
0,1806,Fluent - RewardsGiant £750 Tesco (Day Batched ...,"96 - recent registration & 3 month clickers,11...","163 - Has FLUENT ID,98 - opened 5 + never clicked",750 Tesco Reward Via Your Freebie Style,2025-09-01,360.19,contact.FIRSTNAME }} when was your last Tesco ...,29279,15,...,0.2007,79,0.0027,0.9995,0.0001,0.0005,2,0.0001,[],[]
1,1807,Adstart Media - iPhone 16 (July25) (Batched),97 - Recent registrations + 1 month clickers,"146 - Clicked adstart iphone,98 - opened 5+ ne...",Iphone 16 Via Your Freebie Style,2025-09-01,0.00,contact.FIRSTNAME }} Your iPhone 16 Entry Need...,24120,3,...,0.1884,92,0.0038,0.9999,0.0000,0.0001,0,0.0000,[],[]
2,1809,Little Star Media - Super Free Bingo (April25)...,150,"94,183",Your Freebie Style,2025-09-02,463.77,"contact.FIRSTNAME | default : ""Hey ""}} here’s ...",16946,2,...,0.0489,77,0.0045,0.9999,0.0000,0.0003,4,0.0002,[150],"[94, 183]"
3,1811,YouSweep - Tesco (Batched),97,"98,177",100 Tesco Via Your Freebie Style,2025-09-02,0.00,contact.FIRSTNAME }} Your £100 Tesco Gift Card...,25078,7,...,0.2271,76,0.0030,0.9997,0.0000,0.0003,0,0.0000,[97],"[98, 177]"
4,1791,Gaming Redirect (cascade),170 - 9 month clickers,"94 - DO NOT SEND GAMBING,171 - visited Gaming ...",Welcome Bonus Via Your Freebie Style,2025-09-03,478.54,contact.FIRSTNAME }} You've Got a New Bonus!,17623,14,...,0.0957,93,0.0053,0.0000,0.0000,0.0004,1,0.0001,[],[]